<script src="../js/jquery.min.js"></script>
<script src="../js/fabric.min.js"></script>
<script src="../js/campaign-editor.js"></script>

<p>Campaign creator view</p>

<canvas id="c" width="900" height="500">
<img src="../images/leftBar.png" id="leftB">
<img src="../images/upB.png" id="upB">
<img src="../images/ikona-e.png" id="e-mail">
<img src="../images/list.png" id="list">
<img src="../images/ext.jpg" id="ext">
<img src="../images/week.png" id="week">
</canvas>


<a ui-sref="account.campaigns">Go back</a>
<select id="inline-btn" style="position: absolute; ">
  <option value="volvo">lista 1</option>
  <option value="saab">Lista 2</option>
  <option value="mercedes">lista3</option>
  <option value="audi">lista4</option>
</select>