<div>

    <p>Create your email</p>
    <a ui-sref="account.emails" style="float:right;">Go back</a>
    <br/>

    <div>

        <form ng-submit="CreateEmail(newMailName,newMailBody)">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="newMailName" required/>
            <textarea name="editor1" class="editor1" id="editor1" rows="10" cols="80"></textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                 // instance, using default configuration.
                var editor = CKEDITOR.replace('editor1');

                $("#submitNewMail").click(function () {
                    var value = editor.getData();
                    var scope = angular.element($("#project")).scope();
                    scope.$apply(function () {
                        scope.newMailBody = value;
                        console.log(value);
                    });
                });
            </script>
            <button class="btn btn-success" id="submitNewMail">Save</button>

        </form>

    </div>

</div>
