<div>

    <p>Edit your email</p>
    <a ui-sref="account.emails" style="float:right;">Go back</a>
    <br/>
    <div>

        <form ng-submit="UpdateEmail(chosenEmail.name,updateMailBody)">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="chosenEmail.name" required />
            <textarea name="editor1" class="editor1" id="editor1" rows="10" cols="80" ng-model="chosenEmail.body"></textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration. 
                    var editor = CKEDITOR.replace( 'editor1');
                    $("#submitUpdatedMail").click(function(){
                        var value = editor.getData();                        
                        var scope = angular.element($("#project")).scope();

                     scope.$apply(function(){
                        scope.updateMailBody = value; 
                      //  console.log(value);                        
                        });
                    });
            </script>
            <button class="btn btn-success" id="submitUpdatedMail">Update</button>

        </form>

    </div>

</div>
