<div>
    <p>List:
        <span>{{chosenList.name}}</span>
    </p>


    <a ui-sref="account.lists" style="float:right;">Go back</a>
    <br/>

    <br/>
    <div id="newContactForm" class="container">

        <form ng-submit="AddAddressToList(chosenList._id,contactFirstName,contactLastName,contactEmail)">
            <label for="firstname">First name</label>
            <input type="text" id="firstName" name="firstName" ng-model="contactFirstName" class="form-control" required />
            <label for="lastname">Last name</label>
            <input type="text" id="lastname" name="lastname" ng-model="contactLastName" class="form-control" required/>
            <label for="email">Email address</label>
            <input type="text" id="email" name="email" ng-model="contactEmail" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" class="form-control" required />

            <input type="submit" value="Add new" class="btn btn-success" />

        </form>
    </div>
    <br/>
    <br/>
    <div id="searchContactDiv">
        <label for="searchTextBox">Search</label>
        <input type="text" ng-model="searchContact" id="searchTextBox" class="form-control" />
    </div>
    <br/>
    <br/>
    <div class="container">
        <table border=" 1 " style="width:100% ">
            <tr>
                <td></td>
                <td>First name</td>
                <td>Last name</td>
                <td>Email</td>
                <td>Options</td>
            </tr>
            <tr ng-repeat="contact in chosenList.contacts | filter:searchContact ">
                <td style="width:25px;text-align:center; ">{{$index + 1}}</td>
                <td>
                    <input type="text " class="form-control" ng-model="contact.firstName " />
                </td>
                <td>
                    <input type="text " class="form-control" ng-model="contact.lastName " />
                </td>
                <td>
                    <input type="text " class="form-control listDetails" ng-model="contact.email " />
                </td>
                <td style="width:100px;text-align:center; ">

                    <a href="#Edit" ng-click="EditContactData($index, contact.firstName,contact.lastName,contact.email)" class="glyphicon glyphicon-edit"></a>
                    <a href="#Delete " ng-click="DeleteContactFromList($index)" title="Remove" class="glyphicon glyphicon-remove"></a>
                </td>
            </tr>
            <tr ng-show="chosenList.contacts==0 ">
                <td colspan="5 ">You dont have any contacts in this list...</td>
            </tr>
        </table>
    </div>
    <br/>
    <p>Import from file:</p>

    <input type="file" />

</div>