<div>
    <p>List:
        <span>{{chosenList.name}}</span>
    </p>


    <a ui-sref="account.lists" style="float:right;">Go back</a>
    <br/>

    <br/>
    <div id="newContactForm">

        <h3>Add new contact</h3> 
        <form ng-submit="AddAddressToList(chosenList._id,contactFirstName,contactLastName,contactEmail)">
            <div class="row">
                <div class="newContactInput col-md-3">
                    <!--                    <label for="firstname">First name</label>-->
                    <input type="text" id="firstName" name="firstName" ng-model="contactFirstName" class="form-control" required placeholder="First name" />
                </div>
                <div class="newContactInput col-md-3">

                    <!--
                    <label for="lastname">Last name</label>
-->
                    <input type="text" id="lastname" name="lastname" ng-model="contactLastName" class="form-control" required placeholder="Last name" />
                </div>
                <div class="newContactInput col-md-3">
                    <!--<label for="email">Email</label>-->
                    <input type="text" id="email" name="email" ng-model="contactEmail" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" class="form-control" required placeholder="Email" />
                </div>
                <div class="newContactInput col-md-3 ">
                    <input type="submit" value="Add" class="btn btn-success" />
                </div>
            </div>

        </form>
    </div>
    <br/>
    <br/>
    <div id="searchContactDiv">
        <label for="searchTextBox">Search</label>
        <input type="text" ng-model="searchContact" id="searchTextBox" class="form-control" />
    </div>
    <br/>
    <br/>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="columnWidth">First name</th>
                    <th class="columnWidth">Last name</th>
                    <th class="columnWidth">Email</th>
                    <th class="columnWidth">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in chosenList.contacts | filter:searchContact ">
                    <td>{{$index + 1}}</td>
                    <td class="columnWidth">
                        <input type="text " class="form-control" ng-model="contact.firstName " />
                    </td>
                    <td class="columnWidth">
                        <input type="text " class="form-control" ng-model="contact.lastName " />
                    </td>
                    <td class="columnWidth">
                        <input type="text " class="form-control listDetails" ng-model="contact.email " />
                    </td>
                    <td style="width:100px;text-align:center; ">

                        <a href="#Edit" ng-click="EditContactData($index, contact.firstName,contact.lastName,contact.email)" class="glyphicon glyphicon-edit"></a>
                        <a href="#Delete " ng-click="DeleteContactFromList($index)" title="Remove" class="glyphicon glyphicon-remove"></a>
                    </td>
                </tr>
                <tr ng-show="chosenList.contacts==0 ">
                    <td colspan="5 ">You dont have any contacts in this list...</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <p>Import from file:</p>

    <input type="file" />

</div>