body {
    background-image: url("../images/congruent_pentagon.jpg");
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.loginFormDiv {
    width: 250px;
}
/*  */

.form-control {
    color: black;
    border-radius: 0px;
}
.main-container {
    background-color: lightgrey;
    box-shadow: 10px 10px 5px #888888;
    overflow: hidden;
}
/* make sidebar nav vertical */

@media (min-width: 1080px) {
    .sidebar-nav {
        width: 235px;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
#newContactForm {
    border: 0px solid black;
}
#newContactForm input[type=text] {
    float: left;
    width: 150px;
    margin-right: 10px;
}
#newContactForm input[type=submit] {
    float: left;
}
#newContactForm label {
    float: left;
    padding: 5px;
}
#searchContactDiv {
    border: 0px solid black;
}
#searchContactDiv label {
    float: left;
    padding: 5px;
}
#searchContactDiv #searchTextBox {
    float: left;
    width: 150px;
}
#emailIcon {
    border: 1px solid black;
    overflow: hidden;
    padding: 2px;
}